<div class="form-container">
  <%= render partial: 'back' %>
  <h1>Register From</h1>
  <%= form_with model: @user, local: true do |form| %>
    <div class="form-items-container">
      <div class="form-item-flex">
        <div class="form-item">
          <%= form.label :first_name, "First Name" %><br>
          <%= form.text_field :first_name %>
        </div>
        <div class="form-item">
          <%= form.label :last_name, "Last Name" %><br>
          <%= form.text_field :last_name %>
        </div>
      </div>
      <div class="form-item-flex">
        <div class="form-item">
          <%= form.label :birthday %><br>
          <%= form.date_field :birthday, start_year: 1800, end_year: Time.now.year %>
        </div>
        <div class="form-item">
          <%= form.label :gender %><br>
          <div class="form-item-gender">
            <%= form.collection_radio_buttons :gender, User.genders.keys.map { |gender| [gender.capitalize, gender] }, :last, :first%>
          </div>
        </div>
      </div>
      <div class="form-item-flex">
        <div class="form-item">
          <%= form.label :email %><br>
          <%= form.email_field :email %>
        </div>
        <div class="form-item">
          <%= form.label :phone %><br>
          <%= form.telephone_field :phone %>
        </div>
      </div>
      <div class="form-item">
        <%= form.label :subject %><br>
        <%= form.select :subject, options_for_select([["Choose your subject", nil], "HTML", "CSS", "JS"], disabled: "Choose your subject") %>
      </div>
    </div>
    <div>
      <%= form.submit "Submit", class: "submit-button"%>
    </div>
  </div>
<% end %>