<%= turbo_frame_tag "modal" do %>
  <div class="modal-container" data-controller="confirm-modal" data-modal-target="modal">
    <div class="modal-content">
      <h2>Are you sure you want to delete this user?</h2>
      <p class="name-text">Name: <%= @user.first_name %> <%= @user.last_name %></p>
      <div class="modal-actions">
        <%= link_to "Cancel", "#", data: { turbo_frame: "modal" }, class: "button primary-button" %>
        <%= link_to "Delete", user_path(@user), data: { turbo_method: :delete, turbo_frame: '_top' }, class: "button confirm-button", onclick: "location.reload()" %>
      </div>
    </div>
  </div>
<% end %>
