<!DOCTYPE html>
<html>
  <head>
    <title>FormForDeploy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "register_form", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('person-through-window-solid.svg') %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
